.post-titles {
  font-size: 25px;
  font-weight: bold;
  opacity: 1;
  color: cornflowerblue;
  
  
}

.grid-container {
  
  
  background-color: #000000;
  opacity: 0.7;
  opacity: 0.7;
  width:100%;
  overflow-y: auto;
  
  min-height:100%; 
}

#ul_top_hypers li {
  float: left;
  
 padding-right: 50px;
 line-height: 100%;
    justify-content: space-between;   
   
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    color: cornflowerblue;
    
  }
  .center {
    display: flex;
    justify-content: left;
  }
  .topright {
    position: absolute;
    top: 60px;
    right:340px;
    font-size: 18px;
    padding-top: 15px;
  }
  .post-title:hover {
    opacity: 0.6;
    color: rgb(55, 0, 255);
  }
  
  .subissues-text {
    font-weight: bold;
  }
  
  .post-url {
    color: rgb(255, 255, 255);
  }
  
  .username{
      color: gray;
  }
  
  .post-text{
      margin-top: 10px;
      color: rgb(255, 255, 255);
      font-weight: 400;
  }
  body {

    width:100%;
    overflow-y: auto;
    
    min-height:100%; 
  
  }
  
  body {
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  
  
  .poste{
    --post-line-color: #ccc;   
   
    padding:5px;
    position: absolute;
    
   
    color: #878A8C;
    display: table;
vertical-align: middle;
    box-sizing: border-box;

}
  
  .comment{    
      --post-line-color: #ccc;    
     
    
      background-color: rgba(255,255,255,0.8);
      color: #878A8C;
      
  }
  .grid{
    margin-top: 100px;
  }