<div class="sidebar">
    <br>
    <a class="sub-text" style="text-align: center; color: cornflowerblue; font-size: 1.5em; margin-left: 35px; font-weight: bold;">Issue Analysis Home</a>
        <br>
        <br>
    <div style="text-align: center; ">
        <button class="btnCreateSubissues" (click)="goToCreatePost()">Create Issue</button>
    </div>
    
    <div style="text-align: center; ">
        <button class="btnCreateSubissues" (click)="goToCreateSubissues()">Create Application</button>
    </div>
    
    <div style="text-align: center; ">
        <button class="btnCreateSubissues" routerLink="/list-subissuess">Search</button>
    </div>
</div>