body {

    width:100%;
    overflow-y: auto;
    
    min-height:100%; 
  
  }
  .page-wrap {
    width: 1250px;
    margin: 0 auto;
    margin-top: 130px;
    }
  .card-category{
      font-weight: bold;
  }

.card-footer{
    border-top: 1px dotted rgb(255, 255, 255);
}
.ridl{
    margin-left: 115px;
    margin-top: 10px;
    border: none;
    
}
.ridr{
    margin-left: 0px;
    margin-top: 10px;
    border: none;
    
}

.rids{
    margin-left: 340px;
    margin-top: -220px;
    border: none;
    
    
}



.item-1, 
.item-2, 
.item-3 {
	position:absolute;
  
	top: 2em;
  
 
  
  
  font-size: 1em;

	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.aligns{
    margin-left: 35px;
    margin-top: 15px;
    color: white;
   
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: 0%; opacity: 0; }
  8.3%,25% { left: 0%; opacity: 1; }
  33.33%, 100% { left: 0%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: 0%; opacity: 0; }
  41.63%, 58.29% { left: 0%; opacity: 1; }
  66.66%, 100% { left: 0%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: 0%; opacity: 0; }
  74.96%, 91.62% { left: 0%; opacity: 1; }
  100% { left: 0%; opacity: 0; }
}


.postalign{
    margin-left: 290px;
    margin-top: -80px;
}

.card{
    background-color: black;
    opacity: 0.8;
}


.cards{
    background-color: black;
    opacity: 0.8;
}

.fullbx{
    color: cornflowerblue;
    border: none;
}


.fullbxs{
    color: cornflowerblue;
    border: none;
}

.dark{
    color: cornflowerblue;
    background-color: black;
     border: none;
}

    
    
  body {
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }



  .button {
    background-color: black;
    color: cornflowerblue;
    opacity:0.8;
    border:none;
    padding: 16px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin-left: 40px;
   margin-top: 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  border-radius:10%;

}

.button:hover {
    background-color: #555555;
    color: white;
}
.button:hover {
    background-color: #555555;
    color: white;
}


/*Bounce*/
@keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

r1.kreep {
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 0.7s ease 2s infinite alternate;
}

r1.kreep:hover {
  animation: none;
}
/*END BOUNCER*/

/*SHAKER*/
@keyframes wiggle {
  2% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  4% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  6% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  8% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  10% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  12% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  14% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  16% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  18% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

r1.wiggle {
  display: inline-block;
  animation: wiggle 2.7s infinite;
}

r1.wiggle:hover {
  animation: none;
}
/*END SHAKER*/